body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  animation: MoveInFromBottom 1s ;
  transition-duration: 1s;
}

.card:hover {
  transform: scale(1.05)
}
@keyframes MoveInFromBottom {
  0% {
      opacity: 0;
      transform: translateY(2rem);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

